### 1.1 Write a code to print your name 3 times

In [1]:
for i in range(3):
    print("Diya")

Diya
Diya
Diya

### 2.1 WAP to add three numbers and print the result.

In [3]:
a=2
b=3
c=7
res=a+b+c
print(res)

12

### 2.2: WAP to concatinate three strings and print the result.

In [8]:
a="Hello, "
b="I am"
c=" the user."
print(a+b+c)

Hello, I am the user.

###  4.1: WAP to print the table of 7, 9.

In [10]:
def print_table(num):
    for i in range(1,11):
        print(num," X ",i," = ",num*i)

In [11]:
print_table(7)

7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
7  X  10  =  70

In [12]:
print_table(9)

9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81
9  X  10  =  90

### 4.2 WAP to print the table of n and n is given by user.

In [16]:
n=int(input("Enter the value of the number"))

Enter the value of the number 5

In [17]:
print_table(n)

5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50

### 4.3 WAP to add all the numbers from 1 to n and n is given by user.

In [19]:
n=int(input("Enter number"))
sum=0
for i in range(n+1):
    sum+=i
print("The sum upto ",n, " is ", sum)

Enter number 3

The sum upto  3  is  6

### 5.1: WAP to find max amoung three numbers and input from user.

In [21]:
a1=int(input("Enter number"))
a2=int(input("Enter number"))
a3=int(input("Enter number"))
print(max(a1,a2,a3))

Enter number 34
Enter number 43
Enter number 45

45

 ### 5.2: WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [24]:
n=int(input("Enter value of n"))
sum=0
for i in range(1,n+1):
    if(i%7==0 and i%9==0):
        sum+=i
print(sum)

Enter value of n 63

63

### 5.3 WAP to add all prime numbers from 1 to n and n is given by the user.

In [25]:
n=int(input("Enter value of n"))
sum=0
for i in range(1,n+1):
    for j in range(2,i):
        if j%i==0:
            break
    sum+=i
print(sum)

Enter value of n 2

3

### 6.1: WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [28]:
def add_odds(n):
    sum=0
    for i in range(1,n+1):
        if(i%2==0):
            pass
        else:
            sum+=i
    return sum
n=int(input("Enter value of n "))       
res=add_odds(n)
print(res)

Enter value of n  5

9

### 6.2: WAP using function that add all prime numbers from 1 to n, n given by the user.

In [29]:

def add_prime(n):
    sum=0
    for i in range(1,n+1):
        for j in range(2,i):
            if j%i==0:
                break
        sum+=i
    return sum
n=int(input("Enter value of n "))       
res=add_prime(n)
print(res)

Enter value of n  2

3